<?xml version="1.0"?>
<launch>
    <arg name="limited" default="false"/>

    <!-- load robot model -->
    <!--<param name="robot_description" command="$(find xacro)/xacro.py '$(find ur_description)/urdf/cells/ipa325_ur5_empty.urdf.xacro'" />-->
   	<param unless="$(arg limited)" name="robot_description" command="$(find xacro)/xacro.py '$(find ur_description)/urdf/ur5_robot.urdf.xacro'" />

	<param if="$(arg limited)" name="robot_description" command="$(find xacro)/xacro.py '$(find ur_description)/urdf/ur5_joint_limited_robot.urdf.xacro'" />

    <!-- start robot state publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
   
    <!-- load configuration -->
    <rosparam file="$(find ur_driver)/cfg/ur_driver_config.yaml" command="load" />
    
    <!-- start driver -->
    <node pkg="ur_driver" type="ur_driver" name="ur_driver" output="screen">

    </node>
</launch>
